/* Эффекты :hover и :focus только на устройствах с мышкой */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: #f3366c;
    color: white;
  }

  button:focus-visible {
    outline: 2px dashed #f3366c;
    outline-offset: 4px;
  }

  /* Если используешь :focus — тоже внутрь */
  button:focus {
    outline: 2px solid #f3366c;
    outline-offset: 2px;
  }
}

/*средные декстопы*/
@media (max-width: 1199px) {
   .footer-extra .container {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
   }
 
}

@media (max-width: 1050px) {
  .visit-us,
  .bonus-card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*планшеты*/
@media (max-width: 991px) {
    .contact-bar .container {
      display: flex;
      flex-direction: column;
      padding-block: 20px;
    }
    .social-icons {
      display: flex;
      flex-direction: row;
    }
}

/*большие мобильные*/
@media (max-width: 767px) {
  .bottom-navigation,
  .top-navigation,
  .contact-block {
    display: none;
  }

  .footer-copyright-second,
  .footer-copyright-first {
    text-align: center;
  }

   .footer-copyright-second {
    padding-top: 30px;
  }

  .logo > .container > a > picture > img {
    width: fit-content;
    display: flex;
    align-items: center;
  }

  .logo > .container {
    height: 30px;
  }
  .hamburger {
		display: block;
	}
  .logo {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 630px) {
  .bonuses-part {
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
  .bonus-card,
  .visit-us {
    display: flex;
    row-gap: 30px;
  }
  h3,.description {
    padding: 30px;
  }
  .offers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .offer-item {
    width: auto;
    padding-inline: 0;
  }
 
  .medium-title {
    text-align: center;
  }

  .hero-heading + .description {
	  padding: 0px;
  }

}

@media (max-width: 443px) {
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 396px) {
  .bonus-card-content > h3 {
    padding: 0px;
  }
}